a {
    text-decoration: none;
    /*color: darkgrey;*/
}

.profile {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 200px 4fr;
}

.profileEditing {
    grid-area: a;
}

.profileInfo {
    grid-area: i;
    padding: 100px;

}
