.formControl.error input,
.formControl.error textarea
{
    border: 2px solid red ;
    margin: 5px;
}

.errorText{
    margin: 15px;
    padding: 5px;
    border: 1px solid red ;
    border-radius: 10px;
    color:red;
}

.errorField{
    border-radius: 10px;
    border: 1px solid red;
    padding:10px;
}