.navbar a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    -webkit-text-fill-color: #ff8853;
    font-size: 20px;
    padding: 5px;
    transition: 0.9s;

}

.navbar div {
    padding: 5px;
}

.navbar a:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.9s;

}

.navItem {
    display: inline-block;
}

.newMessagesCount{
    top:20px;
    width: 5px;
    height: 5px;
    position: absolute;
   font-size: xx-small;
    /*border-radius: 50%;*/
    /*background-color: red;*/
}